/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 6, 2014, 11:15:05 PM
    Author     : allen
*/

.chat-panel-lg .panel-body {
    height: 705px;
    overflow-y: scroll;
}

.date-picker{
    width:99%;
    display: inline-block;
}

.panel-list{
    margin-left: -25px;
}

.panel-main{
    margin-left: -25px;
    height: 780px;
}
.target-panel{
    height: 740px;
    overflow-y: scroll;
 }
 .name-txt{
     margin-top: 2px;
     margin-bottom: 1px;
 }
 .emp-title-txt{
     margin-top: 0px;
     margin-bottom: 0px;
  }
 .display-name{
     margin-left: 175px;
 }
 #page-wrapper {
    margin: 0 0 0 62px;
    min-height: 705px;

}
.navbar-static-side {
    margin-top: 51px;
    position: absolute;
    width: 65px;
    z-index: 1;
    height: 780px;
}
#myDetailModal{
    height: 100px;
    width: 100px;
    margin-top: 300px;
}
#myModal{
    height: 100px;
    width: 100px;
    margin-top: 300px;
    display:none;
}