
<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link href="http://localhost/css/overcast/jquery-ui-1.10.4.custom.css" rel="stylesheet"> 
        <!-- Page-Level Plugin CSS - Blank -->

        <!-- SB Admin CSS - Include with every page -->
        <link href="http://localhost/css/sb-admin.css" rel="stylesheet">

        <!--        Have to load jquery  and jquery ui in the header for widgets to load-->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="http://localhost/js/jquery-ui-1.10.4.custom.js"></script>
        <link href="http://localhost/css/style.css" rel="stylesheet">
        <title>Home</title>
        <script>
            $(function() {



                $("#datepicker").datepicker({
                    inline: true
                });



            });
        </script>
    </head>
    <body>
        <div id="wrapper">
            <!DOCTYPE html>
            <!--
            To change this license header, choose License Headers in Project Properties.
            To change this template file, choose Tools | Templates
            and open the template in the editor.
            -->
            <form method="post" action="http://localhost/create/contacts" role ="form" /> 
            <fieldset>
                <legend>Contacts</legend>
                <div id="accordian" class="panel-group">
                    <div class="panel panel-info">
                        <div class = "panel-heading">
                            <h4 class = "panel-title">
                                <a href = "#collapsename" data-parent = "#accordion" data-toggle = "collapse" class = "">Name</a>
                            </h4>
                        </div>
                        <div id="collapsename" class="panel-collapse collpase in " style="height: auto;">
                            <div class="input-control text" data-role="input-control"> 
                                <label>First Name:</label> 
                                <div class="input-control text" data-role="input-control"> 
                                    <input type="text" name="first_name" value="" placeholder="First Name:" class="form-control"  />
                                </div> 
                            </div>
                            <div class="input-control text" data-role="input-control"> 
                                <label>Last Name:</label> 
                                <div class="input-control text" data-role="input-control"> 
                                    <input type="text" name="last_name" value="" placeholder="Last Name:" class="form-control"  />
                                </div> 
                            </div>
                            <div class="form-group">
                                <label>Salutation:</label>
                                <select class="form-control" name = "salutation">
                                    <option></option>
                                    <option>Mr.</option>
                                    <option>Ms.</option>
                                    <option>Mrs.</option>
                                    <option>Dr.</option>
                                    <option>Prof.</option>
                                    <option>Honerable</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="accordian" class="panel-group">
                    <div class="panel panel-info">
                        <div class = "panel-heading">
                            <h4 class = "panel-title">
                                <a href = "#collapseeemploymentgroup" data-parent = "#accordion" data-toggle = "collapse" class = "">Employment:</a>
                            </h4>
                        </div>
                        <div id="collapseeemploymentgroup" class="panel-collapse collpase in " style="height: auto;">
                            <div class="input-control text" data-role="input-control"> 
                                <label>Title</label> 
                                <div class="input-control text" data-role="input-control"> 
                                    <input type="text" name="title" value="" placeholder="Title" class="form-control"  />
                                </div> 
                            </div>
                            <div class="input-control text" data-role="input-control"> 
                                <label>Department:</label> 
                                <div class="input-control text" data-role="input-control"> 
                                    <input type="text" name="department" value="" placeholder="Department:" class="form-control"  />
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
                <div id="accordian" class="panel-group">
                    <div class="panel panel-info">
                        <div class = "panel-heading">
                            <h4 class = "panel-title">
                                <a href = "#collapseemail" data-parent = "#accordion" data-toggle = "collapse" class = "">Email</a>
                            </h4>
                        </div>
                        <div id="collapseemail" class="panel-collapse collpase in " style="height: auto;">
                            <div class="well">
                                <label>Email1</label>
                                <div class="input-control text" data-role="input-control"> 
                                    <label>Email</label> 
                                    <div class="input-control text" data-role="input-control"> 
                                        <input type="text" name="email1" value="" placeholder="Email" class="form-control email"  />
                                    </div> 
                                </div>
                                <div class="input-control checkbox" > 
                                    <label>
                                        <input type="checkbox" checked="1" name="email_opt_out" value=""> 
                                        <span class="check"></span> 
                                        Email Opt Out:</label> 
                                </div> 
                                <div class="input-control checkbox" > 
                                    <label>
                                        <input type="checkbox" checked="1" name="email_valid" value=""> 
                                        <span class="check"></span> 
                                        Invalid:</label> 
                                </div> 
                            </div>
                        </div>
                        <div class="well">
                            <label>Email2</label>
                            <div class="input-control text" data-role="input-control"> 
                                <label>Email</label> 
                                <div class="input-control text" data-role="input-control"> 
                                    <input type="text" name="email2" value="" placeholder="Email" class="form-control email"  />
                                </div> 
                            </div>
                            <div class="input-control checkbox" > 
                                <label>
                                    <input type="checkbox" checked="0" name="email_opt_out" value=""> 
                                    <span class="check"></span> 
                                    Email Opt Out:</label> 
                            </div> 
                            <div class="input-control checkbox" > 
                                <label>
                                    <input type="checkbox" checked="0" name="email_valid" value=""> 
                                    <span class="check"></span> 
                                    Invalid:</label> 
                            </div> 
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div id="accordian" class="panel-group">
        <div class="panel panel-info">
            <div class = "panel-heading">
                <h4 class = "panel-title">
                    <a href = "#collapsephonegoup" data-parent = "#accordion" data-toggle = "collapse" class = "">Phone:</a>
                </h4>
            </div>
            <div id="collapsephonegoup" class="panel-collapse collpase in " style="height: auto;">
                <div class="well">
                    <label>Office Phone:</label>
                    <div class="input-control text" data-role="input-control"> 
                        <label>Phone:</label> 
                        <div class="input-control text" data-role="input-control"> 
                            <input type="text" name="phone_work" value="" placeholder="Phone:" class="form-control"  />
                        </div> 
                    </div>
                    <div class="input-control checkbox" > 
                        <label>
                            <input type="checkbox" checked="1" name="do_not_call" value=""> 
                            <span class="check"></span> 
                            Do Not Call:</label> 
                    </div> 
                </div>
            </div>
            <div class="well">
                <label>Home:</label>
                <div class="input-control text" data-role="input-control"> 
                    <label>Phone:</label> 
                    <div class="input-control text" data-role="input-control"> 
                        <input type="text" name="phone_home" value="" placeholder="Phone:" class="form-control"  />
                    </div> 
                </div>
                <div class="input-control checkbox" > 
                    <label>
                        <input type="checkbox" checked="1" name="do_not_call" value=""> 
                        <span class="check"></span> 
                        Do Not Call:</label> 
                </div> 
            </div>
        </div>
        <div class="well">
            <label>Mobile:</label>
            <div class="input-control text" data-role="input-control"> 
                <label>Phone:</label> 
                <div class="input-control text" data-role="input-control"> 
                    <input type="text" name="phone_mobile" value="" placeholder="Phone:" class="form-control"  />
                </div> 
            </div>
            <div class="input-control checkbox" > 
                <label>
                    <input type="checkbox" checked="1" name="do_not_call" value=""> 
                    <span class="check"></span> 
                    Do Not Call:</label> 
            </div> 
        </div>
    </div>
    <div class="well">
        <label>Other Phone:</label>
        <div class="input-control text" data-role="input-control"> 
            <label>Phone:</label> 
            <div class="input-control text" data-role="input-control"> 
                <input type="text" name="phone_other" value="" placeholder="Phone:" class="form-control"  />
            </div> 
        </div>
        <div class="input-control checkbox" > 
            <label>
                <input type="checkbox" checked="1" name="do_not_call" value=""> 
                <span class="check"></span> 
                Do Not Call:</label> 
        </div> 
    </div>
</div>
<div class="well">
    <label>Fax:</label>
    <div class="input-control text" data-role="input-control"> 
        <label>Phone:</label> 
        <div class="input-control text" data-role="input-control"> 
            <input type="text" name="phone_fax" value="" placeholder="Phone:" class="form-control"  />
        </div> 
    </div>
</div>
</div>
</div>
</div>
</div>
<div id="accordian" class="panel-group">
    <div class="panel panel-info">
        <div class = "panel-heading">
            <h4 class = "panel-title">
                <a href = "#collapseprimaryaddressgroup" data-parent = "#accordion" data-toggle = "collapse" class = "">Primary Address:</a>
            </h4>
        </div>
        <div id="collapseprimaryaddressgroup" class="panel-collapse collpase in " style="height: auto;">
            <div class="input-control text" data-role="input-control"> 
                <label>Primary Address Street:</label> 
                <div class="input-control text" data-role="input-control"> 
                    <input type="text" name="primary_address_street" value="" placeholder="Primary Address Street:" class="form-control"  />
                </div> 
            </div>
            <div class="input-control text" data-role="input-control"> 
                <label>Primary Address City:</label> 
                <div class="input-control text" data-role="input-control"> 
                    <input type="text" name="primary_address_city" value="" placeholder="Primary Address City:" class="form-control"  />
                </div> 
            </div>
            <div class="input-control text" data-role="input-control"> 
                <label>Primary Address State:</label> 
                <div class="input-control text" data-role="input-control"> 
                    <input type="text" name="primary_address_state" value="" placeholder="Primary Address State:" class="form-control"  />
                </div> 
            </div>
            <div class="input-control text" data-role="input-control"> 
                <label>Primary Address Postal Code:</label> 
                <div class="input-control text" data-role="input-control"> 
                    <input type="text" name="primary_address_postalcode" value="" placeholder="Primary Address Postal Code:" class="form-control"  />
                </div> 
            </div>
            <div class="input-control text" data-role="input-control"> 
                <label>Alternate Address Country:</label> 
                <div class="input-control text" data-role="input-control"> 
                    <input type="text" name="primary_address_country" value="" placeholder="Alternate Address Country:" class="form-control"  />
                </div> 
            </div>
        </div>
    </div>
</div>
<div id="accordian" class="panel-group">
    <div class="panel panel-info">
        <div class = "panel-heading">
            <h4 class = "panel-title">
                <a href = "#collapsealtaddressgroup" data-parent = "#accordion" data-toggle = "collapse" class = "">Other Address:</a>
            </h4>
        </div>
        <div id="collapsealtaddressgroup" class="panel-collapse collpase in " style="height: auto;">
            <div class="input-control text" data-role="input-control"> 
                <label>Alternate Address Country:</label> 
                <div class="input-control text" data-role="input-control"> 
                    <input type="text" name="alt_address_country" value="" placeholder="Alternate Address Country:" class="form-control"  />
                </div> 
            </div>
            <div class="input-control text" data-role="input-control"> 
                <label>Alternate Address Street:</label> 
                <div class="input-control text" data-role="input-control"> 
                    <input type="text" name="alt_address_street" value="" placeholder="Alternate Address Street:" class="form-control"  />
                </div> 
            </div>
            <div class="input-control text" data-role="input-control"> 
                <label>Alternate Address City:</label> 
                <div class="input-control text" data-role="input-control"> 
                    <input type="text" name="alt_address_city" value="" placeholder="Alternate Address City:" class="form-control"  />
                </div> 
            </div>
            <div class="input-control text" data-role="input-control"> 
                <label>Alternate Address State:</label> 
                <div class="input-control text" data-role="input-control"> 
                    <input type="text" name="alt_address_state" value="" placeholder="Alternate Address State:" class="form-control"  />
                </div> 
            </div>
            <div class="input-control text" data-role="input-control"> 
                <label>Alternate Address Postal Code:</label> 
                <div class="input-control text" data-role="input-control"> 
                    <input type="text" name="alt_address_postalcode" value="" placeholder="Alternate Address Postal Code:" class="form-control"  />
                </div> 
            </div>
        </div>
    </div>
</div>
<div id="accordian" class="panel-group">
    <div class="panel panel-info">
        <div class = "panel-heading">
            <h4 class = "panel-title">
                <a href = "#collapseadmingroup" data-parent = "#accordion" data-toggle = "collapse" class = "">Record Details:</a>
            </h4>
        </div>
        <div id="collapseadmingroup" class="panel-collapse  collapse " style="height: auto;">
            <div class="input-control text" data-role="input-control"> 
                <label>Created By:</label> 
                <div class="input-control text" data-role="input-control"> 
                    <input type="text" name="created_by_name" value="" placeholder="Created By:" class="input-group"  />
                </div> 
            </div>
            <div class="input-control text" data-role="input-control"> 
                <label>Assigned to:</label> 
                <div class="input-control text" data-role="input-control"> 
                    <input type="text" name="assigned_user_name" value="" placeholder="Assigned to:" class="input-group"  />
                </div> 
            </div>
            <div class="input-control text" data-role="input-control"> 
                <label>Modified By:</label> 
                <div class="input-control text" data-role="input-control"> 
                    <input type="text" name="modified_by_name" value="" placeholder="Modified By:" class="input-group"  />
                </div> 
            </div>
            <div class="input-control text" data-role="input-control"> 
                <label>Sync to Outlook&reg;:</label> 
                <div class="input-control text" data-role="input-control"> 
                    <input type="text" name="sync_contact" value="" placeholder="Sync to Outlook&reg;:" class="input-group"  />
                </div> 
            </div>
            <div class="input-control text" data-role="input-control"> 
                <label>Date Entered:</label> 
                <div class="input-control text" data-role="input-control"> 
                    <input type="text" name="date_entered" value="" placeholder="Date Entered:" class="input-group"  />
                </div> 
            </div>
        </div>
    </div>
</div>
<input type="submit" value="Submit"> 
</fieldset>
</form> 



<script type="text/javascript">
    $(document).ready(function() {
        var currentDate = new Date();
        //$("#mydate").datepicker("setDate",currentDate);
        $(".date-picker").datepicker({
            showOn: 'button',
            buttonText: 'Show Date',
            buttonImageOnly: true,
            buttonImage: 'http://jqueryui.com/resources/demos/datepicker/images/calendar.gif',
            dateFormat: 'mm/dd/yy',
            constrainInput: true,
            defaultDate: currentDate
        });

        $(".ui-datepicker-trigger").mouseover(function() {
            $(this).css('cursor', 'pointer');
        });
        $(".ui-datepicker-trigger").css("margin-left", "-30px");
        $(".date-picker").css("width", "100%");

    });
</script>


<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="http://localhost/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="http://localhost/js/jquery-ui-1.10.4.custom.js"></script>
<!-- Page-Level Plugin Scripts - Blank -->

<!-- SB Admin Scripts - Include with every page -->
<script src="http://localhost/js/sb-admin.js"></script>

<!-- Page-Level Demo Scripts - Blank - Use for reference -->

</div> <!--         wrapper-->
</body>
</html>
