<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <!-- <form action="http://localhost/test/index" method="post" id="test">
            <fieldset>
                <input id="testfield" type="text" />
                <input id="submit" type="submit" value="Submit">
                
            </fieldset>
        </form>
        -->
        <div class="name-group">
            <div class="well">
                <label></label>
                <div><span class="pull-left"> <img class="img-thumbnail" src="images/headshot.png"></span>

                    <div class="pull-right"><p class="lead name-txt">

                            Rene

                            Corns, </p> 

                        <h3 class="emp-title-txt in-line"> <small> Mgr Operations</small> </h3> 

                    </div>
                </div> </div></div>
    </body>
</html>
